*, *:before, *:after {
  box-sizing: border-box;
  line-height: 1.6;
}

html, body {
	background: rgb(250,250,250);
	color: rgb(0, 0, 0);
  padding:0;
  margin:0;
}

.App {
  border: 2px solid black;
  display:flex;
  /* justify-content: center; */
  flex-flow: row wrap;
  position:"relative";
}

